/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ffb968;
  --ifm-color-primary-dark: #ff9416;
  --ifm-color-primary-darker: #ff9416;
  --ifm-color-primary-darkest: #ff9416;
  --ifm-color-primary-light: #ffdaae;
  --ifm-color-primary-lighter: #ffdaae;
  --ifm-color-primary-lightest: #ffdaae;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
